:host {
  display: block;

  .input-area {
    width: 100%;
    position: relative;

    .input {
      width: 100%;
      padding: 8px 16px;
      cursor: pointer;
      border: 1px solid black;
      border-radius: 8px;
    }

    .current-font-area {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: white;
      pointer-events: none;
      display: flex;
      align-items: center;
      border: 1px solid #57c9cf;
      border-radius: 8px;
      padding: 8px 16px;

      .current-font {
        font-weight: 600;
        color: #57c9cf;
      }
    }
  }

  .pull-down-area {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 300px;
    overflow: auto;
    border: 1px solid gray;
    padding: 4px;
    position: absolute;
    left: 0;
    z-index: 10;

    .pull-down-item {
      display: block;
      border: none;
      background-color: transparent;
      border-radius: 16px;
      padding: 8px 16px;
      width: 100%;
      text-align: left;

      &.active {
        font-weight: 600;
        color: #57c9cf;
        border: 1px solid #57c9cf;
      }
    }
  }
}
